#navigation {
  .navlogo {
    height: 40px;
  }

  .nav-menu {
    background-image: url("../../assets/Menu.svg");
    height: 40px;
    width: 40px;
  }

  .nav-profile-image {
    height: 40px;
    width: 40px;
    background-color: #3c3c3c;
  }
}
