body {
  font-family: "Inter", sans-serif;
  color: #757575;
}

.bg-primary {
  background-color: map-get($theme-colors, "primary");
}

.bg-primary-light {
  background-color: map-get($theme-colors, "primary-light");
}

.text-primary {
  color: map-get($theme-colors, "primary");
}

.text-secondary {
  color: map-get($theme-colors, "secondary");
}

.bg-light {
  background-color: #c5c5c5 !important;
}

.text-body {
  color: #667a8a !important;
}

.drop-shadow {
  box-shadow: 0 3.5px 40px rgba(0, 0, 0, 0.08);
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-body {
  font-size: 14px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.border-light {
  border: 1px solid #dadada !important;
}

.max-w-fit {
  max-width: fit-content;
}

.icon {
  height: 18px !important;
}

.icon-lg {
  height: 25px !important;
}

.extra-small {
  font-size: 12px;
}

.text-danger {
  color: red;
}

.border-primary {
  border-color: opacify(
    map-get($theme-colors, "primary-extra-light"),
    $amount: 0.4
  );
}

.card-icon {
  height: 20px;
}

.z-high {
  z-index: 2000;
}
