.bg-primary {
  background-color: #1f3557 !important;
}

.bg-light {
  background-color: #c5c5c5 !important;
}

.bg-active {
  background-color: #3c65a6 !important;
}

.text-primary {
  color: #1f3557 !important;
}

.text-body {
  color: #667a8a !important;
}

.drop-shadow {
  box-shadow: 0 3.5px 40px rgba(0, 0, 0, 0.08);
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-body {
  font-size: 14px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.border-light {
  border: 1px solid #dadada !important;
}

.max-w-fit {
  max-width: fit-content;
}
