@import "./config.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./common.scss";
@import "./components/nav.scss";
@import "./components/form.scss";
@import "./widgets/doctor-widget.scss";
@import "./widgets/appointment-widget.scss";
@import "./widgets/reminders-widget.scss";
@import "./onboarding/signup.scss";
@import "./onboarding/doctors.scss";
@import "./onboarding/progress.scss";
