#onboarding-doctors {
  .preheading {
    letter-spacing: 3px;
  }

  h1 {
    font-size: 64px;
    line-height: 70px;
  }

  img {
    height: 275px;
  }

  .doctors-heading {
    border-bottom: 3px solid map-get($theme-colors, "primary-extra-light");
  }
}
