.onboarding-progress {
  color: rgba(255, 255, 255, 0.85);

  &.step {
    width: 140px;

    @media screen and (max-width: 767px) {
      width: 100px;
    }
  }

  &__icon {
    height: 40px;
    width: 40px;

    img {
      height: 32px;
      width: 32px;
    }
  }

  &.pending {
    color: rgba(255, 255, 255, 0.55);

    .onboarding-progress__icon {
      border-color: rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.08);
    }
  }

  &.active {
    color: #fff;

    .onboarding-progress__icon {
      background: #fff;
      border-color: #fff;
      transform: scale(1.05);
    }
  }

  &.complete {
    color: #fff;

    .onboarding-progress__icon {
      background: map-get($theme-colors, "secondary");
      border-color: map-get($theme-colors, "secondary");
    }
  }

  &.divider {
    flex: 1 1 0;
    height: 4px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.25);

    @media screen and (max-width: 575px) {
      height: 3px;
    }

    &.filled {
      background: map-get($theme-colors, "secondary");
    }
  }
}
