.onboarding-container {
  min-height: 100vh;
}

.signup-container {
  min-height: 100vh;
}

#signup-page {
  h4 {
    letter-spacing: 3px;
  }

  h1 {
    font-size: 64px;
    line-height: 70px;
  }
}
